<h1>Welcome to Register</h1>

<form action="/register" method="POST">
    <input type="text" name="username" id="name">
    <input type="password" name="password" id="pass">
    <input type="submit" name="sub" id="btn">
</form>

<p>Or</p>
<li><a href="/login">LogOut!</a></li>